<a href="https://colab.research.google.com/github/Meshalaboalizz/data-mining/blob/main/practical_on_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Fundemetal pytion **


*   Basic Math
*   Booleans & Variable Assignment
*   Function
*   String

In [6]:
# Basic arithmetic operation

a = 10
b = 5
sum= a+b
differenc = a-b
product =a*b
division =a/b

print("SUm: ", sum)
print("Difference: ", differenc)
print("pruduct: ", product)
print("division: ", division)

SUm:  15
Difference:  5
pruduct:  50
division:  2.0

In [8]:
print(f"The sum of the tow number 10,5 is 15")

The sum of the tow number 10,5 is 15

In [9]:
x=13//2
print(x)
y=13%2
print(y)

6
1

In [43]:
#Boolean variable and comparisons

x=10
y=5
is_greater = x>y
is_equal = x=y
is_not_equal = x!=y

print( "Is x greater than t ?" , is_greater)
print("Is x equal y?",is_equal)
print( " Is x not equal to y ? " ,is_not_equal)

#variable assignment

name="meshal"
age=32
is_low= True

print (f"{name}s age is {age} he is a low is {is_low}")

Is x greater than t ? True
Is x equal y? 5
 Is x not equal to y ?  False
meshals age is 32 he is a low is True

In [41]:
# Defining and using a function
def greet(name):
    return"hello," + name + "!"
greet("Israa")

my_name =input("What is your name? ")
greet(my_name)

What is your name? meshal

'hello,meshal!'

In [27]:
#working with string

def add_numbers(a,b):
    return a+b
a=int(input("inter first number: "))
b=int(input("inter second number: "))
addition_value = add_numbers(a,b)

# Corrected the typo in the variable name here:
print(f"the result of addition for {a},{b} is {addition_value}")

inter first number: 5
inter second number: 7
the result of addition for 5,7 is 12

In [28]:
#Working with string

message="Hello , Word"
length =len(message)
uppercase = message.upper()
lowercase = message.lower()
substring=message[7:12]

print(" Original message:",message)
print("The length is: ", length )
print("upper case: ", uppercase)
print("lowe case :", lowercase)
print("part of the message is :", substring)

 Original message: Hello , Word
The length is:  12
upper case:  HELLO , WORD
lowe case : hello , word
part of the message is :  Word

In [40]:
#Basic input example

Last = input("Enter the last name :")
First = input(" Enter the first name :")

print(f"{Last},{First}")

Enter the last name :abo alizz
 Enter the first name :meshal
abo alizz,meshal

In [30]:
#Numeric input example
age=int(input("Enter your age :"))
print("you will be " ,age+1 , "years old next year.")

Enter your age :29
you will be  30 years old next year.

In [32]:
#Calculations with input

num1 =float(input("Enter a number:"))
num2 =float(input("Enter another number:"))
sum_result= num1 + num2
print("sum:",sum_result)

Enter a number:6
Enter another number:10
sum: 16.0

In [33]:
#string concatenation with input

city = input("Enter your city : ")
country = input("Enter your cantry: ")
location = city +"," + country
print("you are in :",location)

Enter your city : haqil
Enter your cantry: saudi
you are in : haqil,saudi

In [39]:
# Multi inputs
while True:
    try:
        name, age = input("Enter your name and age separated by space: ").split()
        # If the input is valid, break the loop
        break
    except ValueError:
        print("Invalid input. Please enter your name and age separated by a space.")

print(f"My name is {name} and my age is {age}")

Enter your name and age separated by space: metal 29
My name is metal and my age is 29